#filtro{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
#filtro input{
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 4px 1px grey;
    width: 210px;
    margin-bottom: 5px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 25px;
    align-self: center;

    background-color: grey;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    line-height: 0;    
}
.box button{
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 4px 1px rgb(155, 154, 154);
}
